@charset 'utf-8';
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,figure,figcaption{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,p,span{font-size:12px;font-weight:normal;}
ul,ol,li{list-style:none;font-size: 12px}
b,strong{font-weight:normal;}
em,i{font-style:normal;}
a{text-decoration: none;color:#000;font-size:12px}
input,button{outline:none;border:none}
*{box-sizing:border-box;}
.clearfix:after{clear:both; content:''; font-size:0; display:block; visibility:hidden; height:0}
body{min-width:1190px;overflow: auto;background:#f5f5f5;position: relative;}
/* header */
header{
    width:100%;
    height:30px;
    background:#000;   
}
.inner-header{
    width:1190px;
    height:100%;
    margin:0 auto;
    display: flex;   
}
.inner-header .leftheader{
    height:100%; 
    padding-right:60px;   
}
.inner-header .leftheader span,a{
    line-height:30px;
    color:#fff;
}
.inner-header .leftheader span:nth-child(1){
    padding:0 28px 0 12px;
}
.inner-header .leftheader span:nth-child(2) a{
    padding-right:10px;
    margin-right:10px;
    border-right:1px solid #fff;
}
.inner-header .leftheader span:nth-child(3) a{
    padding-right:20px;
}
.inner-header .leftheader span a:hover{
    color:red;
}
.inner-header #centerheader{
    height:100%;
    padding-right:330px; 
    overflow: hidden;
    position: relative;   
}
.inner-header #centerheader ul{
    position: absolute;
    top:0;
    left:0;
}
.inner-header #centerheader ul.move{
    transition: top 2s;
}
.inner-header #centerheader li a{
    color:#fff;
}
.inner-header #centerheader li a:hover{
    color:red;
}
.inner-header .rightheader{
    height:100%;
}
.inner-header .rightheader #bigul{
    height:100%;
    width:450px;
}
.inner-header .rightheader #bigul li{
    float: left;
    margin:0 12px;
}
.inner-header .rightheader #bigul li:last-of-type{
    margin:0 0 0 15px;
}
.inner-header .rightheader #bigul li a{
    line-height:30px;
    color:#fff;
}
.inner-header .rightheader #bigul li a:hover{
    color:red;
}
.inner-header .rightheader #bigul li:nth-child(1){
    width:90px;
    position: relative;
}
.inner-header .rightheader #bigul li:nth-child(1) img:nth-of-type(2){
    position: absolute;
    top:13px;
    right:0;
}
.inner-header .rightheader #bigul li:nth-child(1) img:nth-of-type(3){
    display: none;
    position: absolute;
    top:13px;
    right:0;
}
.inner-header .rightheader #bigul li:nth-child(1):hover img:nth-of-type(2){
    display: none;
}
.inner-header .rightheader #bigul li:nth-child(1):hover img:nth-of-type(3){
    display: block;
}
.inner-header .rightheader #bigul li:nth-child(1) ul{
    display: none;
    width:88px;
    height:30px;
    position: relative;
    border:1px solid #ededed;
    z-index: 3;
}
.inner-header .rightheader #bigul li:nth-child(1) ul img{
    position: absolute;
    top:-7px;
    left:50%;
    z-index: 2;
}
.inner-header .rightheader #bigul li:nth-child(1) ul li a{
    color:#000;
}
.inner-header .rightheader #bigul li:nth-child(1) ul li a:hover{
    color:red;
}
.inner-header .rightheader #bigul li:nth-child(1):hover ul{
    display: block;
}
.inner-header .rightheader #bigul li:nth-child(1) ul:hover{
    background:#ededed;
}
.inner-header .rightheader #bigul  .li1,.li2{
    display: flex;
    align-items: center;
}
.inner-header .rightheader #bigul .li1 img,.li2 img{
    padding-right:5px;
}
/* title */
.title{
    width:100%;
    height:86px;
    background:#fff;
    position: absolute;
    left:0;
    top:30px;
}
.title .inner-title{
    width:1190px;
    height:100%;
    margin:24px auto 0;
}
.title .lefttitle{
    float: left;
    padding-right:80px;
}
.title .centertitle{
    width:630px;
    float: left;
}
.title .centertitle p:first-child{
    width:100%;
    height:36px;
}
.title .centertitle input:nth-of-type(1){
    width:540px;
    height:36px;
    border:1px solid #dcdcdc;
    padding-left:20px;
    color:#969697;
    float: left;
}
.title .centertitle input:nth-of-type(2){
    width:90px;
    height:36px;
    background:#000;
    color:#fff;
    text-align: center;
    float: left;
}
.title .centertitle p a{
    line-height:20px;
    padding-right:10px;
    color:#c8cacc;
}
.title .centertitle p a:hover{
    color:red;
    cursor: pointer;
}
.title .righttitle{
    float: right;
    width:190px;
    height:34px;
    border:1px solid #f4f4f4;
}
.title .righttitle img{
    float: left;
    padding:3px 10px 0 43px;
}
.title .righttitle span{
    float: left;
    font-size:16px;
    line-height:34px;
    padding-right:5px;
}
.title .righttitle span:nth-of-type(2){
    color:red;
    font-weight: bold;
}
/* search */
.search{
    width:100%;
    height:36px;
    background:#fff;
    margin-top:86px;
}
.search .inner-search{
    width:1190px;
    height:100%;
    margin:0 auto;
    position: relative;
}
.search img:nth-of-type(1){
    float: left;
}
.search img:nth-of-type(2){
    position: absolute;
    right:0;
    top:-4px;
}
.search .outul{
    float: left;
}
.search .outul .outli{
    float: left;
    padding-left:40px;   
    width:105px;
    height:26px; 
    margin-top:10px;  
}
.search .outul .outli a{
    line-height:26px;
    font-size:16px;
    color:#000;
}
.search .outul .outli a:hover{
    color:red;
}
.search .outul .outli:nth-of-type(4){
    position: relative;
}
.search .outul .outli:nth-of-type(4):hover ul{
    display: block;
}
.search .outul .outli:nth-of-type(4) ul{
    display: none;
    width:525px;
    height:350px;
    padding:20px;
    border:1px solid #f2f2f2;
    position: absolute;
    top:28px;
    left:-262px;
    z-index: 2;
}
.search .outul .outli:nth-of-type(4) ul ol{
    width:100%;
    height:100%;
}
.search .outul .outli:nth-of-type(4) ul ol img{
    position: absolute;
    top:-8px;
    left:330px;
    z-index: 3;
}
.search .outul .outli:nth-of-type(4) ul ol li{
    float: left;   
    height:100%;
}
.search .outul .outli:nth-of-type(4) ul li:nth-of-type(1){
    width: 281px;
    padding-right:20px;
    border-right:1px solid #d4d4d4;
}
.search .outul .outli:nth-of-type(4) ul li:nth-of-type(1) p{
    width:260px;
    margin:0 auto;
}
.search .outul .outli:nth-of-type(4) ul li:nth-of-type(1) input{
    width:100%;
    height:42px;
    background:#eee;
    border-radius:21px;
    color:#a3a4a4;
    padding-left:20px;
}
.search .outul .outli:nth-of-type(4) ul li:nth-of-type(1) p:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    padding:12px 8px 0;
}
.search .outul .outli:nth-of-type(4) ul li:nth-of-type(1) p:nth-child(2) span{
    display: block;
    width:38px;
    height:38px;
    padding:0 25px 25px 0;
    font-size: 16px;
    font-weight: bold;
}
.search .outul .outli:nth-of-type(4) ul li:nth-of-type(1) p:nth-child(2) span:nth-child(7n){
    padding:0 0 25px 0;
    width:13px;
}
.search .outul .outli:nth-of-type(4) ul li:nth-of-type(1) p:nth-child(2) span:last-child{
    padding:0 9px 25px 0;
}
.search .outul .outli:nth-of-type(4) ul li:nth-of-type(1) p:nth-child(2) span:hover{
    color:red;
    cursor: pointer;
}
.search .outul .outli:nth-of-type(4) ul .secondli{
    overflow: auto;
    width: 202px;
    padding-left:20px;
}
.search .outul .outli:nth-of-type(4) ul .secondli p span{
    display: block;
    line-height:20px;
}
.search .outul .outli:nth-of-type(4) ul .secondli p span:first-child{
    font-weight: bold;
    height:36px;
    line-height:40px;
}
.search .outul .outli:nth-of-type(4) ul .secondli p span:hover{
    color:red;
    cursor: pointer;
}
.search .outul .outli:nth-of-type(4) ul .secondli p span:first-child:hover{
    color:#000;
}
/* section */
section{
    width:100%;
    height:550px;
    margin:0 auto;
}
section .inner-section{
    width:100%;
    height:400px;
    position: relative;    
    background:#fff;
}
section .inner-section .inner-section1{
    width:1190px;
    height:400px;
    margin:0 auto;
    position: relative;
}
section .inner-section .inner-section1 .heart{
    position: absolute;
    left:210px;
    bottom:45px;
    z-index: 10;
}
section .inner-section .inner-section1 .halfheart{
    position: absolute;
    left:-36px;
    top:40px;
    z-index: 10;
}
section .inner-section .inner-section1 #leftbtn{
    position: absolute;
    left:240px;
    top:150px;
    z-index: 3;
    background:#333;
    opacity:0;
    display: block;
    width:40px;
    height:100px;
    font-size:30px;
    line-height:100px;
    color:#fff;
    text-align: center;
    cursor: pointer;
}
section .inner-section .inner-section1 #rightbtn{
    position: absolute;
    left:1150px;
    top:150px;
    z-index:3;
    background:#333;
    opacity:0;
    display: block;
    width:40px;
    height:100px;
    font-size:30px;
    line-height:100px;
    color:#fff;
    text-align: center;
    cursor: pointer;
}
section .inner-section .inner-section1 .banner1{
    width:100%;
    height:100%;
}
section .inner-section .inner-section1 .banner1 a{
    display: block;
    position: absolute;
    left:0;
    top:0;
    transition: all 3s;
    opacity:0;
}
section .inner-section .inner-section1 .banner1 a.active{
    opacity:1;
}
section .inner-section .inner-section1 .button{
    position: absolute;
    left:450px;
    bottom:20px;
    z-index:3;
}
section .inner-section .inner-section1 .button span{
    width:100px;
    height:3px;
    float: left;
    margin-right:5px;
    background:#fff;
    opacity:0.3;
    cursor: pointer;
}
section .inner-section .inner-section1 .button span.active{
    opacity:1;
}
section .inner-section .inner-section1 .manu{
    width:240px;
    height:550px;
    position: absolute;
    top:0;
    left:0;
    z-index: 5;
    box-shadow: -1px 0 5px #969696;
    background:#fff;
}
section .inner-section .inner-section1 .manu li{
    width:100%;
    height:61px;
    border-bottom: 1px solid #d4d4d4;
    padding-left:15px;
}
section .inner-section .inner-section1 .manu li:last-of-type{
    border-bottom: none;
}
section .inner-section .inner-section1 .manu li:hover{
    box-shadow: 0 1px 5px #969696;
}
section .inner-section .inner-section1 .manu li:hover .manu1{
    display: block;
}
section .inner-section .inner-section1 .manu li .outerli{
    font-weight: bold;
    padding:10px 0 5px;
    font-size:14px;
}
section .inner-section .inner-section1 .manu li .outerspan{
    color:#b6b7bd;
    padding-right:10px;
}
section .inner-section .inner-section1 .manu li .manu1{
    display: none;
    position: absolute;
    left:239px;
    top:0;
    background:#fff;
    width:950px;
    height:550px;
    padding:30px;
    box-shadow: 1px 0 5px #969696;
}
section .inner-section .inner-section1 .manu li .manu1 .innermanu1{
    width:610px;
    height:470px;
    position: relative;
}
section .inner-section .inner-section1 .manu li .manu1 .innermanu1 h2{
    font-size:18px;
    height:60px;
    padding-bottom:15px;
    line-height:44px;
    border-bottom:1px solid #d4d4d4;
}
section .inner-section .inner-section1 .manu li .manu1 .innermanu1 .part{
    width:100%;
}
section .inner-section .inner-section1 .manu li .manu1 .innermanu1 .part .part1{
    width:200px;
    float: left;
    padding-top:22px;
}
section .inner-section .inner-section1 .manu li .manu1 .innermanu1 .part .part1 p{
    height:18px;
}
section .inner-section .inner-section1 .manu li .manu1 .innermanu1 .part .part1 p span{
    height:18px;
    color:#acb2b0;
    padding-right:10px;
}
section .inner-section .inner-section1 .manu li .manu1 .innermanu1 .part .part1 p span:hover{
    color:red;
    cursor: pointer;
}
section .inner-section .inner-section1 .manu li .manu1 .innermanu1 .littlelogo{
    position: absolute;
    left:0;
    bottom:0;
}
section .inner-section .inner-section1 .manu li .manu1 .innermanu1 .right{
    position: absolute;
    left:620px;
    top:0;
}
section .banner2{
    width:1190px;
    height:150px;
    margin:0 auto;
}
section .banner2 .innerbanner2{
    width:950px;
    height:100%;
    float:right;
    padding-top:10px;
}
section .banner2 .innerbanner2 a{
    padding-left:10px;
    float: left;
}
/* box1 */
.box1{
    width:100%;
    height:430px;
    padding-top:70px;
    margin-bottom:70px;
}
.box1 .inner-box1{
    width:1190px;
    height:360px;
    margin:0 auto;
}
.box1 .inner-box1 .leftbox1{
    float: left;
    width:590px;
    height:100%;
    position: relative;
}
.box1 .inner-box1 .leftbox1 span:nth-of-type(1){
    font-size:24px;
    font-weight: bold;
    padding-right:12px;
}
.box1 .inner-box1 .leftbox1 span:nth-of-type(2){
    font-size:20px;
}
.box1 .inner-box1 .leftbox1 .banner3{
    width:590px;
    height:320px;
}
.box1 .inner-box1 .leftbox1 .banner3 #leftbtn1{
    position: absolute;
    left:0;
    top:160px;
    z-index: 3;
    background:#333;
    opacity:0;
    display: block;
    width:25px;
    height:80px;
    font-size:30px;
    line-height:80px;
    color:#fff;
    text-align: center;
    cursor: pointer;
}
.box1 .inner-box1 .leftbox1 .banner3 #rightbtn1{
    position: absolute;
    right:0;
    top:160px;
    z-index:3;
    background:#333;
    opacity:0;
    display: block;
    width:25px;
    height:80px;
    font-size:30px;
    line-height:80px;
    color:#fff;
    text-align: center;
    cursor: pointer;
}
.box1 .inner-box1 .leftbox1 .banner3 .pics{
    width:100%;
    height:320px;
}
.box1 .inner-box1 .leftbox1 .banner3 .pics a{
    display: block;
    position: absolute;
    left:0;
    top:40px;
    transition: all 3s;
    opacity:0;
}
.box1 .inner-box1 .leftbox1 .banner3 .pics a.active{
    opacity:1;
}
.box1 .inner-box1 .leftbox1 .banner3 .button1{
    position: absolute;
    left:245px;
    bottom:10px;
    z-index:3;
}
.box1 .inner-box1 .leftbox1 .banner3 .button1 span{
    width:50px;
    height:3px;
    float: left;
    margin-right:5px;
    background:#fff;
    opacity:0.3;
    cursor: pointer;
}
.box1 .inner-box1 .leftbox1 .banner3 .button1 span.active{
    opacity:1;
}
.box1 .inner-box1 .rightbox1{
    float: left;
    width:600px;
    height:100%;
    position: relative;
}
.box1 .inner-box1 .rightbox1 .remen{
    padding-top:15px;
    width:100%;
    height:39px;
    padding-left:350px;
}
.box1 .inner-box1 .rightbox1 .remen .pinpai{
    color:#000;
    float: left;
    padding-left:25px;
    line-height:24px;
    font-size:14px;
    cursor: pointer;
}
.box1 .inner-box1 .rightbox1 .remen .active{
    color:#000;
    float: left;
    padding-left:25px;
    line-height:24px;
    font-size:14px;
    cursor: pointer;
    font-weight: bold;
}
.box1 .inner-box1 .rightbox1 .remen .pinpai:hover{
    font-weight: bold;
}
.box1 .inner-box1 .rightbox1 .innerrightbox1{
    width:100%;
    height:320px;
    position: absolute;
    left:0;
    bottom:0;
}
.box1 .inner-box1 .rightbox1 ul:nth-of-type(2){
    opacity: 0;
}
.box1 .inner-box1 .rightbox1 .innerrightbox1 li{
    float: left;
    width:149px;
    height:79px;
    margin:0 1px 1px 0;
    position: relative;
}
.box1 .inner-box1 .rightbox1 .innerrightbox1 li a{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.box1 .inner-box1 .rightbox1 .innerrightbox1 li .more{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    display: none;
}
.box1 .inner-box1 .rightbox1 .innerrightbox1 li .more span{
    display: block;
    width:100%;
    height:50px;
    text-align: center;
    color:#fff;
    line-height:50px;
}
.box1 .inner-box1 .rightbox1 .innerrightbox1 .more button{
    width:84px;
    height:20px;
    font-size:12px;
    margin-left:33px;
    line-height:20px;
    color:#fff;
    background:red;
    border-radius: 10px;
    cursor: pointer;
}
/* 顶部吸盘 */
#xipan{
    width:100%;
    height:60px;
    position: fixed;
    left:0;
    top:-70px;
    background:#fff;
    z-index: 10;
    box-shadow: 0 5px 5px #999;
    transition: all 1s;
}
#xipan .innerxipan{
    width:1190px;
    height:100%;
    margin: 0 auto;
}
#xipan .innerxipan img{
    float: left;
    padding-right:80px;
}
#xipan .innerxipan p{
    width:630px;
    height:36px;
    float: left;
    margin-top:10px;
}
#xipan .innerxipan p input:nth-of-type(1){
    width:540px;
    height:100%;
    border:1px solid #dcdcdc;
    padding-left:20px;
    color:#969697;
    float: left;
}
.title .centertitle input:nth-of-type(2){
    width:90px;
    height:100%;
    background:#000;
    color:#fff;
    text-align: center;
    float: left;
}
/* 右侧导航栏 */
#right-ul{
    width:40px;
    height:200px;
    position: fixed;
    right:136px;
    bottom:110px;
    z-index: 10;
    display: none; 
}
#right-ul #right-ul1{
    width:100%;
    height:100%;
    position: relative;
}
#right-ul #right-ul1 .bgul{
    position: absolute;
    top:0;
    left:0;
}
#right-ul #right-ul1 .right-ul1-1{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
}
#right-ul #right-ul1 .right-ul1-1 li{
    width:100%;
    height:40px;
    position: relative;
}
#right-ul #right-ul1 .right-ul1-1 li div{
    width:120px;
    height:100%;
    position: absolute;
    top:0;
    right:0;
    display: none;
}
#right-ul #right-ul1 .right-ul1-1 li div .ul1-li1{
    float: right;
    width:40px;
    height:100%;
}
#right-ul #right-ul1 .right-ul1-1 li .li1-1{
    float: left;
    width:80px;
    height:40px;
}
#right-ul #right-ul1 .right-ul1-1 li .li1-1 a{
    display: block;
    width:100%;
    height:100%;
    line-height:40px;
    text-align: center;
    background:#494949;
}
/* 第二块 */
.box2{
    width:100%;
    height:656px;
}
.box2 .innerbox2{
    width:1190px;
    height:100%;
    margin:0 auto;
}
.box2 .innerbox2 .topbox2{
    width:100%;
    height:36px;
    line-height:36px;
}
.box2 .innerbox2 .topbox2 span{
    float: left;
    height:100%;
}
.box2 .innerbox2 .topbox2 span:nth-of-type(1){
    font-size:24px;
    font-weight: bold;
    padding-right:12px;
}
.box2 .innerbox2 .topbox2 span:nth-of-type(2){
    font-size:20px;
    padding-top:3px;
}
.box2 .innerbox2 .bottombox2{
    width:100%;
    height:620px;
}
.box2 .innerbox2 .bottombox2 .bottombox2-1{
    float: left;
    width:590px;
    height:300px;
    margin-bottom:10px;
    position: relative;
}
.box2 .innerbox2 .bottombox2 div:nth-of-type(2n+1){
    margin-right:10px;
}
.box2 .innerbox2 .bottombox2 .bottombox2-1 .bg{
    position: absolute;
    left:0;
    top:0;
}
.box2 .innerbox2 .bottombox2 .bottombox2-1 .box2-ul{
    position: absolute;
    top:10px;
    right:10px;
    width:210px;
    height:281px;
}
.box2 .innerbox2 .bottombox2 .bottombox2-1 .box2-ul li{
    width:100%;
    height:140px;
    background:#fff;
    padding-left:10px;    
}
.box2 .innerbox2 .bottombox2 .bottombox2-1 .box2-ul li:first-child{
    margin-bottom:1px;
}
.box2 .innerbox2 .bottombox2 .bottombox2-1 .box2-ul li a{
    display: block;
    width:100%;
    height:100%;
    color:#000;
    position: relative;
}
.box2 .innerbox2 .bottombox2 .bottombox2-1 .box2-ul li a p:first-of-type{
    padding-top:10px;
    line-height:16px;
    font-weight: bold;
    font-size:14px;
}
.box2 .innerbox2 .bottombox2 .bottombox2-1 .box2-ul li a p:nth-of-type(2){
    padding-bottom:3px;
    font-size: 14px;
}
.box2 .innerbox2 .bottombox2 .bottombox2-1 .box2-ul li a p:nth-of-type(3){
    font-size: 14px;
}
.box2 .innerbox2 .bottombox2 .bottombox2-1 .box2-ul li a img{
    width:90px;
    height:90px;
    position: absolute;
    right:0;
    bottom:0;
    transition: all .5s;
}
.box2 .innerbox2 .bottombox2 .bottombox2-1 .box2-gif{
    display: block;
    width:100%;
    height:100%;
}
/* 第三块 */
.box3{
    width:100%;
    height:605px;
}
.box3 .innerbox3{
    width:1190px;
    height:100%;
    margin:0 auto;
}
.box3 .innerbox3 .topbox3{
    width:100%;
    height:36px;
}
.box3 .innerbox3 .topbox3 .topbox3-1{
    float: left;
    height:100%;
    line-height:36px;
}
.box3 .innerbox3 .topbox3 .topbox3-1 span:nth-of-type(1){
    font-size:24px;
    font-weight: bold;
    padding-right:12px;
}
.box3 .innerbox3 .topbox3 .topbox3-1 span:nth-of-type(2){
    font-size:20px;
}
.box3 .innerbox3 .topbox3 .topbox3-2{
    float: right;
}